<h1>Users#edit</h1>

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  
<div class="form-group">
  <label for="name">Name</label>
  <br>
  <input type="text" name="name" value="<%= @user.name %>" >
  </div>

<div class="form-group">
  <label for="fav_food">Favorite Food</label>
  <br>
  <input type="text" name="fav_food" value="<%= @user.fav_food %>">
  </div>

<div class="form-group">
    <label for=""></label>
  <input type="submit" value="Submit">
  </div>
</form>
