<h1>Users#Show</h1>

<div>
  <a href="/users">Back to users</a>
</div>

<p> Name: <%= @user.name %> </p>

<p> Favorite food: <%= @user.fav_food %> </p>



    <a href="/users/<%= @user.id %>/edit">Edit</a>


<form action="/users/<%= @user.id %>" method="post">

  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Destroy">
</form>
